/.vscode
/example.exe
.ipynb_checkpoints/fft-checkpoint.ipynb
start.bat
fttest.exe
fttest.cpp
ffttest-2.exe
ffttest-2.cpp
fft.ipynb
.gitignore
test.exe
cpum.cpp
MLP.exe
app
app.exe
app.exp
app.lib
mat
load.exe
load_test.cpp
load_test.exe
